
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Queue Index</title>
</head>
<body>
    <div>
        <ul>

            <li>


                <a href="@Url.Action("AddOne","Queue")"
                   class="w3-bar-item w3-button">Add one Item to Queue</a>
            </li>
            <li>
                <a href="@Url.Action("AddHugeList","Queue")"
                   class="w3-bar-item w3-button">Add Huge List of Items to Queue</a>

            </li>

            <li>
                <a href="@Url.Action("Display","Queue", new {display="display" })"
                   class="w3-bar-item w3-button">Display Queue</a>

            </li>


            <li>
                <form action="/Queue/DeleteFrom/">
                   
                    <input type="text" name="Elemento"/>
                    <input type="submit"  value="Delete from Queue"/>
                </form>
               
                
                @if (ViewBag.error != null)
                { 
                    <strong>@ViewBag.error</strong>
                }

            </li>


            <li>

                <a href="@Url.Action("Clear","Queue")"
                   class="w3-bar-item w3-button">Clear Queue</a>
            </li>

            <li>

                <form action="/Queue/Search/">

                    <input type="text" name="Elemento" />
                    <input type="submit" value="Search element" />
                </form>

                @if (ViewBag.Accion != null)
                {
                    //<strong>Item cannot be found</strong>
                <strong>@ViewBag.error1  @ViewBag.StopWatch1 </strong>
                   // <strong> @ViewBag.StopWatch</strong>
                }
                

            </li>

            <li>
                <a href="@Url.Action("Return","Queue")"
                   class="w3-bar-item w3-button">Return to Main Menu</a>

            </li>


        </ul>


    </div>
 
    @if (Request.QueryString["display"] != null)
    {
        foreach (var sQueue in ViewBag.MyQueue)
        {
            <p>

                @sQueue

            </p>
        }
    }


</body>
    </html>
